<%= form_for '/questions' do |f| %>
	<% @questions.each do |q| %>
	  	<hr>
	  	<p><%= raw(q.enunciado) %></p>
		<%= f.collection_radio_buttons :options, [[:alternativa_a, "A) " + q.alternativa_a] ,[:alternativa_b, "B) "+q.alternativa_b], [:alternativa_c, "C) "+q.alternativa_c] ,[:alternativa_d, "D) "+q.alternativa_d],[:alternativa_e, "E) "+q.alternativa_e]], :first, :last %>
	<% end %>
	<br><%= f.submit "Corrigir", class: "btn btn-primary" %>
<% end %>