<style type="text/css">
.baixo {
	padding-top: 100px;
}
</style>

<div class="container">
	<div class="row">
		<h2 class="span12 offset2 baixo">Bem Vindo ao Sistema de Treinamento WebEnade!</h2>
	</div>
</div>